@import 'tailwindcss';

* {
  box-sizing: border-box;
}

body {
  background-color: #f0f1f3;
}

.sidebar {
  width: 0;
  transition: width 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .sidebar.sidebar-true {
    width: 15rem;
  }

  .sidebar.sidebar-false {
    width: 0;
  }
}
